  <% if (data.status) { %>
    <!-- Контакты -->
  
    <section class="contacts container relative overflow-hidden" id="contacts">
      <div class="relative lg:absolute inset-0 bg-grey rounded-6 lg:rounded-none overflow-hidden h-[320px] lg:h-auto mb-10 lg:mb-0">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <div class="absolute inset-0 overflow-hidden" id="map"></div>
      </div>
      <div class="relative bg-white lg:rounded-6 lg:shadow-md w-full lg:max-w-[525px] lg:p-12 duration-5 anim anim--right" data-anim="hidden">
        <h2 class="font-extrabold uppercase text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">контакты</h2>
        <div class="flex flex-col gap-7 mb-5 md:mb-8">
          <div class="flex items-center">
            <div class="flex items-center justify-center gradient rounded-2 min-w-[34px] w-[34px] h-[34px] sm:min-w-[42px] sm:w-[42px] sm:h-[42px] mr-3 sm:mr-5">
              <svg class="icon text-white text-20 sm:text-24">
                <use xlink:href="img/icons.svg#geo">
              </svg>
            </div>
            <div class="flex flex-col">
              <span class="font-semibold text-16 md:text-18 leading-1">Адрес</span>
              <p class="font-medium text-14 sm:text-16 md:text-18 opacity-80">г. Краснодар, ул.Леваневского, дом 2, офис 9</p>
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex items-center justify-center gradient rounded-2 min-w-[34px] w-[34px] h-[34px] sm:min-w-[42px] sm:w-[42px] sm:h-[42px] mr-3 sm:mr-5">
              <svg class="icon text-white text-20 sm:text-24">
                <use xlink:href="img/icons.svg#phone">
              </svg>
            </div>
            <div class="flex flex-col">
              <span class="font-semibold text-16 md:text-18 leading-1">Телефон</span>
              <p class="font-medium text-14 sm:text-16 md:text-18 opacity-80">
                <a class="link" href="tel: +7(861)213-29-01">+7(861)213-29-01</a>, <a class="link" href="tel: +7(967)301-99-67">+7(967)301-99-67</a>
              </p>
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex items-center justify-center gradient rounded-2 min-w-[34px] w-[34px] h-[34px] sm:min-w-[42px] sm:w-[42px] sm:h-[42px] mr-3 sm:mr-5">
              <svg class="icon text-white text-20 sm:text-24">
                <use xlink:href="img/icons.svg#email">
              </svg>
            </div>
            <div class="flex flex-col">
              <span class="font-semibold text-16 md:text-18 leading-1">Почта</span>
              <p class="font-medium text-14 sm:text-16 md:text-18 opacity-80">
                <a class="link" href="mailto: info@akula-buh.ru">info@akula-buh.ru</a>
              </p>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <% for (var i = 0; i < social.length; i++) { %>
            <a class="btn btn-second rounded-2 p-1" data-waved="light" href="" target="_blank">
              <img class="icon text-42 rounded-2" src="img/pictures/<%= social[i] %>.svg" alt="">
            </a>
          <% } %>
        </div>
      </div>
    </section>
  
    <!-- Подвал -->
  
    <footer class="container flex flex-col md:flex-row items-center justify-between gap-4 md:gap-8 lg:gap-16 bg-black bg-opacity-5 lg:bg-white lg:bg-opacity-100 pt-5 pb-7 sm:pb-5">
      <span class="font-medium text-center text-16 opacity-80">ООО «Бухгалтерский центр „Акула“»</span>
      <a class="underline underline-offset-4 font-medium text-center text-16 opacity-80 md:ml-auto" href="https://stdkit.ru/" target="_blank">Разработка сайта: Студия К.И.Т.</a>
      <span class="font-medium text-center text-16 opacity-80">©2023</span>
    </footer>
  <% } %>

</body>
</html>