<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="Студия КИТ"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>
<body>

  <% var nav = [
    {
      id: '',
      text: 'Наши услуги'
    },
    {
      id: '',
      text: 'Преимущества'
    },
    {
      id: '',
      text: 'О нас'
    },
    {
      id: '',
      text: 'Вопросы'
    },
    {
      id: '',
      text: 'Контакты'
    }
  ] %>

  <% var social = ['tg', 'inst', 'vk', 'wa'] %>

  <!-- Прелоадер -->

  <div class="flex flex-col items-center justify-center fixed z-10 inset-0 bg-white duration-5" data-preloader>
    <picture>
      <source srcset="img/pictures/logo.webp" type="image/webp">
      <img class="w-[190px]" src="img/pictures/logo.png" alt="">
    </picture>
  </div>

  <!-- Шапка документа -->

  <header class="header container flex items-center justify-between gap-5 sticky z-3 top-0 left-0 right-0 bg-white border-b border-solid border-b-black border-opacity-20 py-3 ease-linear duration-3" data-header>
    <a class="btn btn-second w-[140px] sm:w-[190px]" data-waved="dark" href="/">
      <picture>
        <source srcset="img/pictures/logo.webp" type="image/webp">
        <img class="w-full" src="img/pictures/logo.png" alt="">
      </picture>
    </a>
    <nav class="hidden xl:flex items-center justify-between gap-6 mx-auto">
      <% for (var i = 0; i < nav.length; i++) { %>
        <a class="btn btn-second font-medium text-black rounded-1 py-2 px-1" data-scroll="top" data-waved="dark" href="#<%= nav[i].id %>"><%= nav[i].text %></a>
      <% } %>
    </nav>
    <div class="hidden md:flex items-center justify-between gap-1">
      <% for (var i = 0; i < social.length; i++) { %>
        <a class="btn btn-second rounded-2 p-1" data-waved="light" href="" target="_blank">
          <img class="icon text-32 rounded-2" src="img/pictures/<%= social[i] %>.svg" alt="">
        </a>
      <% } %>
    </div>
    <a class="hidden sm:flex btn btn-second btn-xs btn-fill rounded-3" data-waved="light" href="tel: +7(861)213-29-01">
      <svg class="icon text-24 mr-2">
        <use xlink:href="img/icons.svg#phone">
      </svg>
      <span class="font-extrabold text-18">+7(861)213-29-01</span>
    </a>
    <button class="btn btn-second btn-light xl:hidden text-30 rounded-2 shadow-md p-1" data-burger data-waved="dark">
      <svg class="icon">
        <use xlink:href="img/icons.svg#burger">
      </svg>
    </button>
  </header>

  <!-- Мобильное меню -->

  <div class="mobile-menu fixed inset-0 z-6 duration-1" data-mobile="hidden">
    <div class="mobile-menu__content flex flex-col bg-white bg-opacity-80 overflow-auto backdrop-blur-sm w-full max-w-[375px] h-full p-3 duration-3">
      <div class="mobile-menu__head flex items-center justify-between gap-2 border-b border-solid border-b-black border-opacity-20 pb-3 duration-5 delay-3">
        <a class="btn btn-second w-[140px]" data-waved="dark" href="/">
          <picture>
            <source srcset="img/pictures/logo.webp" type="image/webp">
            <img class="w-full" src="img/pictures/logo.png" alt="">
          </picture>
        </a>
        <button class="btn btn-second btn-light xl:hidden text-22 rounded-2 shadow-md p-2" data-mobile-close data-waved="dark">
          <svg class="icon">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
      </div>
      <div class="mobile-menu__nav flex flex-col items-start gap-5 py-10 duration-9 delay-5">
        <% for (var i = 0; i < nav.length; i++) { %>
          <a class="link font-medium text-20" data-scroll="top" data-waved="dark" href="#<%= nav[i].id %>"><%= nav[i].text %></a>
        <% } %>
      </div>
      <div class="mobile-menu__footer mt-auto pb-5 duration-5 delay-9">
        fsdfdsfsdf
      </div>
    </div>
  </div>
