// Поле количества
.quantity {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  width          : 145px;

  &-btn {
    min-width: 35px;
    width    : 35px;
    height   : 56px;

    &:first-of-type {
      border-top-left-radius   : 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-of-type {
      border-top-right-radius   : 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &-cover {
    max-width: 60px;
  }

  &-input {
    height       : 56px;
    text-align   : center;
    border-radius: 0 !important;
    padding      : 0;
  }
}