// Полоса прокрутки
* {
  scrollbar: {
    width: thin;
    color: theme("colors.sky.DEFAULT") theme("colors.second.DEFAULT");
  }

  &::-webkit-scrollbar {
    @media(pointer: fine) {
      width: 16px;

      &-track {
        background-color: theme("colors.second.DEFAULT");

        &-piece {
          margin-block: 8px;
        }
      }

      &-thumb {
        background-color: theme("colors.sky.DEFAULT");

        border: {
          width : 4px;
          style : solid;
          color : theme("colors.second.DEFAULT");
          radius: 8px;
        }

        &:active {
          box-shadow: inset 0 8px 8px theme("colors.black.DEFAULT / 50%");
        }

      }

      &-corner {
        background-color: theme("colors.second.DEFAULT");
      }
    }
  }
}