<% var data = {

  title: 'Акула',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container container--xs flex flex-col lg:flex-row items-center justify-between gap-5 sm:gap-10 lg:gap-5 overflow-hidden min-h-[660px]">
  <div class="order-2 lg:order-1 flex flex-col w-full sm:max-w-[510px]">
    <h1 class="font-bold text-30 sm:text-36 md:text-42 xl:text-48 leading-2 mb-5 md:mb-7">
      <span class="text-gradient">Бухгалтерские услуги</span> для бизнеса различных форм собственности
    </h1>
    <p class="font-normal text-14 md:text-16 leading-4 mb-10 md:mb-14 lg:mb-20">
      Мы готовы помочь восстановить бухучет, исправить ошибки бухгалтеров, оптимизировать налоги, провести сверки с налоговой и контрагентами, сдать отчетность вовремя и без головной боли
    </p>
    <div class="flex flex-col sm:flex-row flex-wrap items-center gap-4">
      <button class="btn btn-primary btn-lg btn-fill font-semibold w-full sm:w-auto" data-waved="dark">Оставить заявку</button>
      <button class="btn btn-black btn-lg btn-contur opacity-80 w-full sm:w-auto" data-waved="dark">Узнать подробнее</button>
    </div>
  </div>
  <div class="order-1 lg:order-2 pack pack-box sm:pack-[87] bg-primary rounded-10 sm:rounded-[80px] sm:overflow-visible w-full sm:max-w-[480px]">
    <picture>
      <source srcset="img/pictures/main-bg.webp" type="image/webp">
      <img class="image mix-blend-overlay" src="img/pictures/main-bg.png" alt="">
    </picture>
    <picture>
      <source srcset="img/pictures/director.webp" type="image/webp">
      <img class="block absolute bottom-0 left-0 right-0 h-full sm:h-auto sm:w-[390px] xl:w-[420px]" src="img/pictures/director.png" alt="">
    </picture>
    <picture>
      <source srcset="img/pictures/main-lines.webp" type="image/webp">
      <img class="image image-bottom object-contain" src="img/pictures/main-lines.png" alt="">
    </picture>
    <div class="main__item main__item--left hidden sm:block absolute -left-2 md:-left-16 -bottom-9 bg-white rounded-6 shadow-md w-full max-w-[180px] md:max-w-[250px] p-3 md:p-5" data-waved="dark">
      <p class="font-medium text-14 leading-4">
        Мы <b>всегда на связи</b> без долгих ожиданий и переключений, стремимся решать ваши вопросы в <b>максимально короткие сроки</b>
      </p>
    </div>
    <div class="main__item main__item--right hidden sm:block absolute -right-2 md:-right-16 bottom-20 bg-white rounded-6 shadow-md w-full max-w-[180px] md:max-w-[250px] p-3 md:p-5" data-waved="dark">
      <p class="font-medium text-14 leading-4">
        <b>Наша задача</b> сделать так, чтобы предприниматель <b>не переплачивал</b> налоги и был <b>огражден</b> от налоговых проверок
      </p>
    </div>
  </div>
</main>

<section></section>

<!-- Работа -->

<% var work = [
  {
    icon: 'document',
    number: '01',
    title: 'Оставьте заявку на сайте',
    text: 'Оставьте заявку на нашем сайте и наш специалист <br class="hidden xl:block"> свяжется с вами'
  },
  {
    icon: 'user',
    number: '02',
    title: 'Переговоры и анализ бизнеса',
    text: 'Обсудим текущую ситуацию в вашей компании, функционал <br class="hidden xl:block"> и объемы операций. Предложим вам варианты решений'
  },
  {
    icon: 'pen',
    number: '03',
    title: 'Подписание договора',
    text: 'Подпишем договор и соглашение о конфиденциальности, которые <br class="hidden xl:block"> гарантируют сохранность вашей информации'
  },
  {
    icon: 'folder',
    number: '04',
    title: 'Передача документов',
    text: 'Примем от вас документы, определим и согласуем <br class="hidden xl:block"> график работы'
  },
  {
    icon: 'cup',
    number: '05',
    title: 'Вы спокойны за бухгалтерию',
    text: 'Экономим ваши деньги, время и нервы. Ваша компания на полном <br class="hidden xl:block"> бухгалтерском обслуживании'
  },
  {
    icon: 'rocket',
    number: '06',
    title: 'Начало работы',
    text: 'Полный порядок в вашей бухгалтерской и налоговой <br class="hidden xl:block"> документации и вовремя сданные отчеты'
  }
] %>

<section class="work container">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md-mb-8">Начать работать с нами просто</h2>
  <div class="work-slider">
    <div class="swiper swiper--overwrap">
      <div class="work-wrapper swiper-wrapper flex sm:grid sm:grid-cols-2 sm:gap-5 lg:gap-8">
        <% for (var i = 0; i < work.length; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="card h-full py-8 px-5 md:px-8" data-waved="dark">
              <div class="flex items-center justify-between mb-4">
                <img class="icon text-50 md:text-7xl mr-3" src="img/pictures/<%= work[i].icon %>.svg" alt="">
                <span class="font-extrabold uppercase text-40 md:text-50 opacity-20 tracking-wide"><%= work[i].number %></span>
              </div>
              <div class="card-content">
                <h4 class="font-bold text-20 md:text-24 leading-2 tracking-wide mb-2"><%= work[i].title %></h4>
                <p class="font-normal text-16 leading-4"><%= work[i].text %></p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination sm:hidden text-primary mt-10"></div>
  </div>
</section>

<!-- Выгода -->

<section class="benefit container bg-black bg-opacity-10">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md-mb-8">Выгода в каждой детали</h2>
  <div class="grid grid-cols-12 gap-5">
    <div class="col-4 row-2">
      <div class=""></div>
    </div>
    <div class="col-2 row-1">
      <div class="flex flex-col items-center justify-center bg-white rounded-6 shadow-md p-3">
        <div class="benefit__cube flex items-center justify-center rounded-3 w-14 h-14 mb-6"></div>
      </div>
    </div>
  </div>
</section>

<%= require('./includes/footer.html').default %>