<%

  var data = {

    title: 'Акула',
    status: true

  }

  var nav = [
    {
      id: '',
      text: 'Наши услуги'
    },
    {
      id: '',
      text: 'Преимущества'
    },
    {
      id: '',
      text: 'О нас'
    },
    {
      id: '',
      text: 'Вопросы'
    },
    {
      id: '',
      text: 'Контакты'
    }
  ]

  var social = ['tg', 'inst', 'vk', 'wa']

%>

<%= _.template(require('./includes/header.html').default)({data, nav, social}) %>

<!-- Главный блок -->

<main class="main container container--xs flex flex-col lg:flex-row items-center justify-between gap-5 sm:gap-10 lg:gap-5 overflow-hidden min-h-[660px]">
  <div class="order-2 lg:order-1 flex flex-col w-full sm:max-w-[510px]">
    <h1 class="font-bold text-30 sm:text-36 md:text-42 xl:text-48 leading-2 mb-5 md:mb-7">
      <span class="text-gradient">Бухгалтерские услуги</span> для бизнеса различных форм собственности
    </h1>
    <p class="font-normal text-16 leading-4 mb-10 md:mb-14 lg:mb-20">
      Мы готовы помочь восстановить бухучет, исправить ошибки бухгалтеров, оптимизировать налоги, провести сверки с налоговой и контрагентами, сдать отчетность вовремя и без головной боли
    </p>
    <div class="flex flex-col sm:flex-row flex-wrap items-center gap-4">
      <button class="btn btn-primary btn-lg btn-fill font-semibold w-full sm:w-auto" data-waved="dark">Оставить заявку</button>
      <button class="btn btn-black btn-lg btn-contur opacity-80 w-full sm:w-auto" data-waved="dark">Узнать подробнее</button>
    </div>
  </div>
  <div class="order-1 lg:order-2 pack pack-box sm:pack-[87] bg-primary rounded-10 sm:rounded-[80px] sm:overflow-visible w-full sm:max-w-[480px]">
    <picture>
      <source srcset="img/pictures/main-bg.webp" type="image/webp">
      <img class="image mix-blend-overlay" src="img/pictures/main-bg.png" alt="">
    </picture>
    <picture>
      <source srcset="img/pictures/director.webp" type="image/webp">
      <img class="block absolute bottom-0 left-0 right-0 h-full sm:h-auto sm:w-[390px] xl:w-[420px]" src="img/pictures/director.png" alt="">
    </picture>
    <picture>
      <source srcset="img/pictures/main-lines.webp" type="image/webp">
      <img class="image image-bottom object-contain" src="img/pictures/main-lines.png" alt="">
    </picture>
    <div class="main__item main__item--left hidden sm:block absolute -left-2 md:-left-16 -bottom-9 bg-white rounded-6 shadow-md w-full max-w-[180px] md:max-w-[250px] p-3 md:p-5" data-waved="dark">
      <p class="font-medium text-14 leading-4">
        Мы <b>всегда на связи</b> без долгих ожиданий и переключений, стремимся решать ваши вопросы в <b>максимально короткие сроки</b>
      </p>
    </div>
    <div class="main__item main__item--right hidden sm:block absolute -right-2 md:-right-16 bottom-20 bg-white rounded-6 shadow-md w-full max-w-[180px] md:max-w-[250px] p-3 md:p-5" data-waved="dark">
      <p class="font-medium text-14 leading-4">
        <b>Наша задача</b> сделать так, чтобы предприниматель <b>не переплачивал</b> налоги и был <b>огражден</b> от налоговых проверок
      </p>
    </div>
  </div>
</main>

<!-- Квиз -->

<section class="quiz container bg-black bg-opacity-5">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">Узнайте стоимость бухгалтерского обслуживания для вас</h2>
  <div class="flex items-center justify-between bg-white rounded-4 sm:rounded-6 shadow-md w-full max-w-[700px] xl:max-w-none xl:p-4 mx-auto">
    <form class="form w-full xl:max-w-[520px]" data-form="quiz">
      <div class="quiz-slider" data-quiz="stop">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Выберите вид деятельности</div>
              </div>
              <div class="flex flex-col gap-2 sm:gap-4">
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Услуги" name="activity">
                  <span class="font-medium text-14 sm:text-16">Услуги</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Розничная торговля" name="activity">
                  <span class="font-medium text-14 sm:text-16">Розничная торговля</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Оптовая торговля" name="activity">
                  <span class="font-medium text-14 sm:text-16">Оптовая торговля</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Торговля по агентскому договору/договору комиссии" name="activity">
                  <span class="font-medium text-14 sm:text-16">Торговля по агентскому договору/договору комиссии</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Производство" name="activity">
                  <span class="font-medium text-14 sm:text-16">Производство</span>
                </label>
              </div>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Выберите систему налогообложения</div>
              </div>
              <div class="flex flex-col gap-2 sm:gap-4">
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Общая система налогообложения" name="taxes">
                  <span class="font-medium text-14 sm:text-16">Общая система налогообложения</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Упрощённая «доходы»" name="taxes">
                  <span class="font-medium text-14 sm:text-16">Упрощённая «доходы»</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Упрощённая «доходы минус расходы»" name="taxes">
                  <span class="font-medium text-14 sm:text-16">Упрощённая «доходы минус расходы»</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Патентная" name="taxes">
                  <span class="font-medium text-14 sm:text-16">Патентная</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="ЕСХН" name="taxes">
                  <span class="font-medium text-14 sm:text-16">ЕСХН</span>
                </label>
              </div>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Введите количество сотрудников</div>
              </div>
              <div class="quantity" data-quantity>
                <button class="quantity-btn btn btn-black btn-contur border-black border-opacity-20" data-quantity-decrease data-waved="dark" type="button">-</button>
                <div class="quantity-cover input-cover">
                  <input class="quantity-input input" data-input="number" type="text" value="1" name="quantity">
                </div>
                <button class="quantity-btn btn btn-black btn-contur border-black border-opacity-20" data-quantity-increase data-waved="dark" type="button">+</button>
              </div>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Наличие ККТ и эквайринга</div>
              </div>
              <div class="flex flex-col gap-2 sm:gap-4">
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Есть" name="acquiring">
                  <span class="font-medium text-14 sm:text-16">Есть</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="Нет" name="acquiring">
                  <span class="font-medium text-14 sm:text-16">Нет</span>
                </label>
              </div>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Количество операций в месяц</div>
              </div>
              <div class="flex flex-col gap-2 sm:gap-4">
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="До 30" name="operation">
                  <span class="font-medium text-14 sm:text-16">До 30</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="31-50" name="operation">
                  <span class="font-medium text-14 sm:text-16">31-50</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="51-100" name="operation">
                  <span class="font-medium text-14 sm:text-16">51-100</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="101-300" name="operation">
                  <span class="font-medium text-14 sm:text-16">101-300</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="301-500" name="operation">
                  <span class="font-medium text-14 sm:text-16">301-500</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" type="radio" value="501-1 000" name="operation">
                  <span class="font-medium text-14 sm:text-16">501-1 000</span>
                </label>
              </div>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Наличие служебного транспорта</div>
              </div>
              <div class="flex flex-col gap-2 sm:gap-4" data-transport>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" data-transport-toggle="active" type="radio" value="Есть" name="transport">
                  <span class="font-medium text-14 sm:text-16">Есть</span>
                </label>
                <label class="form-label" data-transport-label>
                  <div class="form-wrapper">
                    <div class="input-cover">
                      <input class="input" data-transport-input data-input="number" type="text" disabled placeholder="Введите количество служебного транспорта" name="transport-quantity">
                    </div>
                    <span class="form-error" data-error>Пожалуйста, введите количество!</span>
                  </div>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--radio mr-2 md:mr-4" data-transport-toggle="disabled" type="radio" value="Нет" name="transport">
                  <span class="font-medium text-14 sm:text-16">Нет</span>
                </label>
              </div>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Что требуется делать?</div>
              </div>
              <div class="flex flex-col gap-2 sm:gap-4">
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Составление документов" name="requirements[]">
                  <span class="font-medium text-14 sm:text-16">Составление документов</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Истребование документов с контрагентов" name="requirements[]">
                  <span class="font-medium text-14 sm:text-16">Истребование документов с контрагентов</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Хранение и архивирование документов" name="requirements[]">
                  <span class="font-medium text-14 sm:text-16">Хранение и архивирование документов</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Кадровый учет и расчет зарплаты" name="requirements[]">
                  <span class="font-medium text-14 sm:text-16">Кадровый учет и расчет зарплаты</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Бухгалтерский учет в полном объеме" name="requirements[]">
                  <span class="font-medium text-14 sm:text-16">Бухгалтерский учет в полном объеме</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Начисление налогов и сдача отчетности" name="requirements[]">
                  <span class="font-medium text-14 sm:text-16">Начисление налогов и сдача отчетности</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Обучение/контроль/консалтинг" name="requirements[]">
                  <span class="font-medium text-14 sm:text-16">Обучение/контроль/консалтинг</span>
                </label>
              </div>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Выберите дополнительные услуги</div>
              </div>
              <div class="flex flex-col gap-2 sm:gap-4">
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Консультация бухгалтера" name="service[]">
                  <span class="font-medium text-14 sm:text-16">Консультация бухгалтера</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Консультация юриста" name="service[]">
                  <span class="font-medium text-14 sm:text-16">Консультация юриста</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Составление договора/письма/претензии/жалобы" name="service[]">
                  <span class="font-medium text-14 sm:text-16">Составление договора/письма/претензии/жалобы</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Eдиноразовая услуга по составлению отчетности" name="service[]">
                  <span class="font-medium text-14 sm:text-16">Eдиноразовая услуга по составлению отчетности</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Услуга «проверка контрагентов»" name="service[]">
                  <span class="font-medium text-14 sm:text-16">Услуга «проверка контрагентов»</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Внесение изменений в ЕГРЮЛ" name="service[]">
                  <span class="font-medium text-14 sm:text-16">Внесение изменений в ЕГРЮЛ</span>
                </label>
                <label class="flex items-center bg-grey bg-opacity-30 rounded-3 cursor-pointer p-2 sm:p-4">
                  <input class="switch switch--checkbox mr-2 md:mr-4" type="checkbox" value="Услуга по регистрации/закрытию бизнеса" name="service[]">
                  <span class="font-medium text-14 sm:text-16">Услуга по регистрации/закрытию бизнеса</span>
                </label>
              </div>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Желаемая стоимость за бух. обслуживание?</div>
              </div>
              <label class="form-label" data-label="input">
                <div class="form-wrapper">
                  <div class="input-cover">
                    <input class="input" data-input="number" type="text" placeholder="Введите желаемую стоимость" name="price">
                  </div>
                  <span class="form-error" data-error>Пожалуйста, введите желаемую стоимость!</span>
                </div>
              </label>
            </div>
            <div class="swiper-slide h-full pt-8 pb-4 px-4 sm:pb-8 sm:px-8" data-quiz-slide>
              <div class="flex flex-col sm:flex-row sm:items-center gap-1 mb-4 sm:mb-6">
                <div class="flex items-center gap-1 font-semibold text-blue text-18 leading-3">
                  Шаг <div class="swiper-pagination w-auto"></div>
                </div>
                <div class="font-semibold text-18 leading-3">Введите телефон для связи</div>
              </div>
              <label class="form-label mb-4" data-label="input">
                <div class="form-wrapper">
                  <div class="input-cover">
                    <input class="input" data-input="tel" type="tel" placeholder="+7 (999) 999-99-99" name="tel">
                  </div>
                  <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
                </div>
              </label>
              <div class="font-normal text-14 md:text-16 leading-4 cursor-pointer" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
                <span class="opacity-60">Отправляя форму, вы даете согласие на</span>
                <span class="underline underline-offset-4">обработку персональных данных</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-4 pb-8 pt-4 px-4 sm:pt-8 sm:px-8">
          <button class="swiper-button-prev default btn btn-black btn-lg btn-contur inset-0 w-auto mt-0" data-waved="dark">Назад</button>
          <button class="swiper-button-next default btn btn-primary btn-lg btn-fill inset-0 w-auto mt-0" data-waved="dark">
            <span class="sm:hidden">Вперёд</span>
            <span class="hidden sm:block">Следующий вопрос</span>
          </button>
          <button class="quiz-slider-submit hidden btn btn-primary btn-lg btn-fill" data-waved="dark" type="submit">Отправить</button>
        </div>
      </div>
      <div class="hidden items-center min-h-[500px] py-8 px-4 sm:px-8" data-quiz-success>
        <p class="font-medium text-20 sm:text-24 leading-4">
          <span class="text-blue">Форма успешно отправлена!</span> <br class="sm:hidden"> Мы перезвоним вам в течение 30 минут, чтобы уточнить детали и бесплатно проконсультировать вас
        </p>
      </div>
    </form>
    <div class="hidden xl:block relative w-full max-w-[670px]">
      <div class="pack pack-[105] bg-grey rounded-6">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/quiz.webp" type="image/webp">
          <img class="image" loading="lazy" src="img/pictures/quiz.png" alt="">
        </picture>
      </div>
      <div class="absolute top-4 right-4 bg-white rounded-6 w-full max-w-[415px] p-5">
        <p class="font-normal text-14 leading-4">
          Бухгалтерское сопровождение позволяет сократить затраты на <b>30%</b>. Вам не надо покупать бухгалтерскую программу и электронный документооборот, арендовать помещение, оплачивать обучение и литературу, закупать оргтехнику и расходуемые материалы. Вы получаете уже <b>полностью укомплектованную</b> бухгалтерию.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Работа -->

<% var work = [
  {
    icon: 'document',
    number: '01',
    title: 'Оставьте заявку на сайте',
    text: 'Оставьте заявку на нашем сайте и наш специалист <br class="hidden xl:block"> свяжется с вами'
  },
  {
    icon: 'user',
    number: '02',
    title: 'Переговоры и анализ бизнеса',
    text: 'Обсудим текущую ситуацию в вашей компании, функционал <br class="hidden xl:block"> и объемы операций. Предложим вам варианты решений'
  },
  {
    icon: 'pen',
    number: '03',
    title: 'Подписание договора',
    text: 'Подпишем договор и соглашение о конфиденциальности, которые <br class="hidden xl:block"> гарантируют сохранность вашей информации'
  },
  {
    icon: 'folder',
    number: '04',
    title: 'Передача документов',
    text: 'Примем от вас документы, определим и согласуем <br class="hidden xl:block"> график работы'
  },
  {
    icon: 'cup',
    number: '05',
    title: 'Вы спокойны за бухгалтерию',
    text: 'Экономим ваши деньги, время и нервы. Ваша компания на полном <br class="hidden xl:block"> бухгалтерском обслуживании'
  },
  {
    icon: 'rocket',
    number: '06',
    title: 'Начало работы',
    text: 'Полный порядок в вашей бухгалтерской и налоговой <br class="hidden xl:block"> документации и вовремя сданные отчеты'
  }
] %>

<section class="work container">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">Начать работать с нами просто</h2>
  <div class="work-slider">
    <div class="swiper swiper--overwrap">
      <div class="work-wrapper swiper-wrapper flex sm:grid sm:grid-cols-2 sm:gap-5 lg:gap-8">
        <% for (var i = 0; i < work.length; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="card h-full py-8 px-5 md:px-8" data-waved="dark">
              <div class="flex items-center justify-between mb-4">
                <img class="icon text-50 md:text-7xl mr-3" src="img/pictures/<%= work[i].icon %>.svg" alt="">
                <span class="font-extrabold uppercase text-40 md:text-50 opacity-20 tracking-wide"><%= work[i].number %></span>
              </div>
              <div class="card-content">
                <h4 class="font-bold text-20 md:text-24 leading-2 tracking-wide mb-2"><%= work[i].title %></h4>
                <p class="font-normal text-16 leading-4"><%= work[i].text %></p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination sm:hidden text-primary mt-10"></div>
  </div>
</section>

<!-- Выгода -->

<section class="benefit container bg-black bg-opacity-5 overflow-hidden">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">Выгода в каждой детали</h2>
  <div class="grid grid-cols-12 md:auto-rows-[180px] gap-3 sm:gap-5">
    <div class="order-1 col-12 md:col-6 xl:col-4 row-2">
      <div class="relative h-[250px] md:h-full">
        <div class="benefit__block pack bg-primary rounded-6 h-full">
          <picture>
            <source srcset="img/pictures/waves.webp" type="image/webp">
            <img class="image mix-blend-soft-light" src="img/pictures/waves.png" alt="">
          </picture>
        </div>
        <picture>
          <source srcset="img/pictures/woman.webp" type="image/webp">
          <img class="absolute bottom-0 right-0 w-auto md:w-[470px] max-w-none h-full md:h-auto" src="img/pictures/woman.png" alt="">
        </picture>
      </div>
    </div>
    <div class="order-3 xl:order-2 col-6 md:col-3 xl:col-2 row-1">
      <div class="flex flex-col items-center lg:justify-center bg-white rounded-6 shadow-md h-full py-5 px-3 lg:py-3">
        <div class="benefit__cube flex items-center justify-center rounded-3 w-14 h-14 mb-3 sm:mb-6">
          <img class="icon text-30" src="img/pictures/money.svg" alt="">
        </div>
        <h4 class="font-semibold text-center text-14 sm:text-16 leading-3">Уменьшение затрат <br> на бухгалтерию</h4>
      </div>
    </div>
    <div class="order-2 xl:order-3 col-12 md:col-6 xl:col-4 row-1">
      <div class="benefit__block bg-primary text-white rounded-6 overflow-hidden h-full">
        <div class="flex items-center bg-primary py-4 px-4 smd:px-6">
          <img class="icon text-30 mr-3" src="img/pictures/book.svg" alt="">
          <h4 class="font-bold text-24 leading-3">Непрерывно обучаем</h4>
        </div>
        <div class="p-4 sm:p-6">
          <p class="font-medium text-16 sm:text-18 leading-3 opacity-80">И экзаменуем специалистов за свой счет, чтобы быть уверенными, что вы получите лучшее обслуживание</p>
        </div>
      </div>
    </div>
    <div class="order-5 xl:order-4 col-12 md:col-6 xl:col-2 row-1 xl:row-2">
      <div class="benefit__banner relative gradient rounded-5 overflow-hidden h-full py-5 px-4 sm:py-10 sm:px-6">
        <div class="hidden xl:flex items-end absolute inset-0">
          <picture>
            <source srcset="img/pictures/benefit.webp" type="image/webp">
            <img class="block w-full" src="img/pictures/benefit.png" alt="">
          </picture>
        </div>
        <div class="relative text-white">
          <h4 class="font-bold text-24 leading-3 mb-3 sm:mb-6">Важно!</h4>
          <p class="font-medium text-16 sm:text-18 leading-3 opacity-80">Несем полную финансовую ответственность за нашу работу</p>
        </div>
      </div>
    </div>
    <div class="order-4 xl:order-5 col-6 md:col-3 xl:col-2 row-1">
      <div class="flex flex-col items-center lg:justify-center bg-white rounded-6 shadow-md h-full py-5 px-3 lg:py-3">
        <div class="benefit__cube flex items-center justify-center rounded-3 w-14 h-14 mb-3 sm:mb-6">
          <img class="icon text-30" src="img/pictures/protect.svg" alt="">
        </div>
        <h4 class="font-semibold text-center text-14 sm:text-16 leading-3">Безопасность <br> данных</h4>
      </div>
    </div>
    <div class="order-6 col-6 md:col-3 xl:col-2 row-1">
      <div class="flex flex-col items-center lg:justify-center bg-grey rounded-6 h-full py-5 px-3 lg:py-3">
        <div class="benefit__cube flex items-center justify-center rounded-3 w-14 h-14 mb-3 sm:mb-6">
          <img class="icon text-30" src="img/pictures/card.svg" alt="">
        </div>
        <h4 class="font-semibold text-center text-14 sm:text-16 leading-3">Работа с главным <br> бухгалтером</h4>
      </div>
    </div>
    <div class="order-7 col-6 md:col-3 xl:col-2 row-1">
      <div class="flex flex-col items-center lg:justify-center bg-grey rounded-6 h-full py-5 px-3 lg:py-3">
        <div class="benefit__cube flex items-center justify-center rounded-3 w-14 h-14 mb-3 sm:mb-6">
          <img class="icon text-30" src="img/pictures/message.svg" alt="">
        </div>
        <h4 class="font-semibold text-center text-14 sm:text-16 leading-3">Контроль работы <br> в режиме online</h4>
      </div>
    </div>
  </div>
</section>

<!-- Направления -->

<section class="directions container fading overflow-hidden">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">Оказываем бухгалтерскую помощь по многим направлениям</h2>
  <div class="directions-slider mb-4">
    <div class="swiper overflow-visible">
      <div class="directions-wrapper swiper-wrapper">
        <% for (var i = 0; i < 10; i++) { %>
          <div class="swiper-slide h-auto w-max">
            <div class="flex items-center relative rounded-3 sm:rounded-6 border border-solid border-black border-opacity-20 p-4 sm:p-6" data-waved="dark">
              <div class="directions__check flex items-center justify-center bg-primary rounded-2 sm:rounded-4 min-w-[40px] w-[40px] h-[40px] sm:min-w-[54px] sm:w-[54px] sm:h-[54px] mr-3 sm:mr-6">
                <img class="icon text-20 sm:text-26" src="img/pictures/checkbox.svg" alt="">
              </div>
              <p class="font-medium text-16 md:text-18 leading-4">Внесение изменений в единый <br> государственный реестр</p>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="directions-slider">
    <div class="swiper overflow-visible" dir="rtl">
      <div class="directions-wrapper swiper-wrapper">
        <% for (var i = 0; i < 10; i++) { %>
          <div class="swiper-slide h-auto w-max" dir="ltr">
            <div class="flex items-center relative rounded-3 sm:rounded-6 border border-solid border-black border-opacity-20 p-4 sm:p-6" data-waved="dark">
              <div class="directions__check flex items-center justify-center bg-primary rounded-2 sm:rounded-4 min-w-[40px] w-[40px] h-[40px] sm:min-w-[54px] sm:w-[54px] sm:h-[54px] mr-3 sm:mr-6">
                <img class="icon text-20 sm:text-26" src="img/pictures/checkbox.svg" alt="">
              </div>
              <p class="font-medium text-16 md:text-18 leading-4">Составление договоров, претензий, писем <br> в надзорные органы</p>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Услуги -->

<% var services = [
  {
    title: 'Аутсорсинг',
    ul: ['Бухгалтерское обслуживание', 'Кадровый учет', 'Расчет зарплаты'],
    text: 'Мы заверяем все отчеты своей электронной подписью, поэтому несем полную ответственность за качество своей работы. Если санкции возникнут по нашей вине, мы компенсируем их из своего кошелька. А чтобы вы были уверены, что все идет своим чередом, предоставляем доступ ко всей отчетности в режиме 365/24/7',
    price: 'от 4 000 ₽'
  },
  {
    title: 'Консалтинг',
    ul: ['Налоговое и юридическое консультирование', 'Составление договоров, претензий, писем', 'Решение нестандартных задач'],
    text: 'Переводим с бухгалтерского языка на человеческий. Никаких аббревиатур и сложных терминов. Раскладываем все по полочкам, так чтобы сложные вопросы были доступны для понимания каждому.',
    price: 'от 1 000 ₽'
  },
  {
    title: 'Регистрация бизнеса',
    ul: ['Помощь в регистрации бизнеса по всей стране', 'Изготовление печатей и штампов', 'Внесение изменений в ЕГРЮЛ'],
    text: 'Без госпошлин, очередей в налоговой или МФЦ, даже без личного посещения. Подберем ОКВЭДы, систему налогообложения, поможем выбрать банк, соответствующий потребностям вашего бизнеса. Начните свое дело вместе с нами.',
    price: 'от 0 ₽'
  },
] %>

<section class="container relative bg-primary overflow-hidden">
  <div class="absolute inset-0">
    <div class="pack w-full h-full">
      <picture>
        <source srcset="img/pictures/services-bg.webp" type="image/webp">
        <img class="image mix-blend-overlay" src="img/pictures/services-bg.png" alt="">
      </picture>
    </div>
  </div>
  <div class="relative text-white">
    <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">Наши услуги</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-8 text-black">
      <% for (var i = 0; i < services.length; i++) { %>
        <div class="flex flex-col bg-white rounded-6 overflow-hidden">
          <div class="bg-grey py-6 px-5 lg:px-10">
            <h4 class="font-bold text-20 sm:text-24 leading-2 tracking-wide"><%= services[i].title %></h4>
          </div>
          <div class="flex flex-col items-start flex-grow py-3 px-5 sm:py-6 lg:px-10">
            <ul class="flex flex-col gap-3 mb-3 sm:mb-6">
              <% for (var j = 0; j < services[i].ul.length; j++) { %>
                <li class="flex items-center text-16">
                  <svg class="icon text-orange mr-2">
                    <use xlink:href="img/icons.svg#check">
                  </svg>
                  <span class="font-medium leading-3 opacity-60"><%= services[i].ul[j] %></span>
                </li>
              <% } %>
            </ul>
            <p class="font-normal text-16 leading-4 mb-4 sm:mb-6"><%= services[i].text %></p>
            <p class="font-bold uppercase text-20 sm:text-24 leading-4 mb-4 sm:mb-6 mt-auto"><%= services[i].price %></p>
            <button class="btn btn-second btn-lg btn-fill gradient" data-waved="light">Выбрать услугу</button>
          </div>
        </div>
      <% } %>
      <div class="relative bg-white rounded-6 overflow-hidden py-6 px-5 lg:px-10">
        <div class="hidden lg:block absolute inset-0">
          <div class="pack w-full h-full">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <picture>
              <source srcset="img/pictures/calc.webp" type="image/webp">
              <img class="image" loading="lazy" src="img/pictures/calc.jpg" alt="">
            </picture>
          </div>
        </div>
        <div class="relative">
          <h4 class="font-bold text-20 sm:text-24 leading-2 tracking-wide mb-2">Персональная бесплатная консультация</h4>
          <p class="font-normal text-16 leading-4 opacity-80 mb-4">Оставьте свои контакты, мы перезвоним вам и с удовольствием ответим на все ваши вопросы</p>
          <form class="form w-full sm:max-w-[325px] mb-4" data-form="submit">
            <input type="hidden" value="Главная" name="theme">
            <label class="form-label mb-4" data-label="input">
              <span class="font-medium text-18 mb-3">Ваше имя</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input" data-input="name" type="text" placeholder="Введите имя..." name="name">
                </div>
                <span class="form-error" data-error>Пожалуйста, введите ваше имя!</span>
              </div>
            </label>
            <label class="form-label mb-5" data-label="input">
              <span class="font-medium text-18 mb-3">Телефон</span>
              <div class="form-wrapper">
                <div class="input-cover">
                  <input class="input" data-input="tel" type="tel" placeholder="+7 (999) 999-99-99" name="tel">
                </div>
                <span class="form-error" data-error>Пожалуйста, введите ваш номер!</span>
              </div>
            </label>
            <button class="btn btn-primary btn-lg btn-fill" data-waved="dark" type="submit">Получить консультацию</button>
          </form>
          <div class="font-normal text-14 md:text-16 leading-4 cursor-pointer" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
            <span class="opacity-60">Отправляя форму, вы даете согласие на</span> <br class="xl:hidden">
            <span class="underline underline-offset-4">обработку персональных данных</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Этапы -->

<% var stages = [
  {
    item: '',
    data: '',
    title: 'Безопасность',
    icon: 'lock',
    text: 'Мы храним данные на сервере 1С, что обеспечивает их <b>полную безопасность</b>. Даже если какой-то компьютер поломается, ваша бухгалтерия не пострадает, а бухгалтер будет работать с другого устройства.'
  },
  {
    item: '',
    data: '',
    title: 'Проверка',
    icon: 'list',
    text: 'Регулярно <b>сверяемся</b> с налоговой, чтобы все налоги были отражены правильно и не потерялись.'
  },
  {
    item: '',
    data: '',
    title: 'Гарантия',
    icon: 'shield',
    text: 'Платим пени и штрафы из <b>собственного</b> кармана, если они возникли по нашей вине. Финансовая ответственность <b>закреплена</b> в договоре.'
  },
  {
    item: 'hidden sm:block',
    data: 'data-listing-item',
    title: 'Свободное время',
    icon: 'clock',
    text: 'Вам не надо отвлекаться на бухгалтерские задачи: мы сами <b>скачаем</b> выписки, <b>подготовим</b> платежки, <b>соберем</b> информацию из кабинета ОФД.'
  },
  {
    item: 'hidden sm:block',
    data: 'data-listing-item',
    title: 'Порядок',
    icon: 'folder',
    text: 'Бережно <b>раскладываем</b> по папочкам и <b>храним</b> ваши документы.'
  },
  {
    item: 'hidden sm:block',
    data: 'data-listing-item',
    title: 'Надежность',
    icon: 'key',
    text: 'Сотрудники <b>подписывают</b> соглашение о коммерческой тайне, поэтому ваша информация не «утечет» на сторону.'
  },
  {
    item: 'hidden sm:block',
    data: 'data-listing-item',
    title: 'Отдых',
    icon: 'sofa',
    text: '<b>Сдаем все</b> отчеты без вашего участия: вы можете спокойно отдыхать даже в отчетный период.'
  },
  {
    item: 'hidden sm:block',
    data: 'data-listing-item',
    title: 'Обучение',
    icon: 'cap',
    text: 'Постоянно <b>обучаемся</b>, чтобы быть в курсе тенденций налогового законодательства и <b>оградить</b> вас от необдуманных решений.'
  },
  {
    item: 'hidden sm:block',
    data: 'data-listing-item',
    title: 'Консультация',
    icon: 'calc',
    text: '<b>Бесплатное</b> консультирование вашего бизнеса.'
  }
] %>

<section class="container" data-listing="3">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">Как мы работаем</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-8">
    <% for (var i = 0; i < stages.length; i++) { %>
      <div class="<%= stages[i].item %> min-h-[230px]" <%= stages[i].data %>>
        <div class="card gradient h-full">
          <div class="card-content text-white">
            <div class="flex items-center justify-between gap-5 bg-sky p-5">
              <h4 class="font-bold text-20 md:text-24"><%= stages[i].title %></h4>
              <svg class="icon text-34 sm:text-46">
                <use xlink:href="img/icons.svg#<%= stages[i].icon %>">
              </svg>
            </div>
            <div class="flex items-center h-full">
              <p class="font-normal text-16 leading-4 p-5"><%= stages[i].text %></p>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <button class="sm:hidden btn btn-second btn-lg btn-fill gradient mx-auto mt-10" data-listing-show data-waved="light">Показать ещё</button>
</section>

<!-- О нас -->

<section class="container container--xs bg-black bg-opacity-5">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">О нашей компании</h2>
  <div class="flex flex-col xl:flex-row xl:items-center xl:justify-between gap-5 bg-white rounded-6 shadow-md p-3 md:p-10 xl:p-5">
    <div class="order-2 xl:order-1 flex flex-col w-full xl:max-w-[535px] pl-2 pr-2 pb-5 md:pl-0 md:pr-0 md:pb-0 xl:pl-11">
      <p class="order-3 xl:order-1 font-medium text-16 leading-4 tracking-wide opacity-80 mb-5">
        Опираясь на свой опыт, я часто сталкиваюсь с одними  и теми же ситуациями — запущенный учет, или вовсе  не вёлся. В результате заблокированные счета, штрафы  и пени. Такие проблемы могут привести к серьезным  финансовым потерям и даже к уголовной ответственности, если не будут своевременно решены. 
      </p>
      <p class="order-4 xl:order-2 font-medium text-16 leading-4 tracking-wide opacity-80 mb-5">
        Поэтому, моя задача как бухгалтера заключается не только в том, чтобы вести учет правильно, но и в том, чтобы предотвращатьподобные ситуации.
      </p>
      <p class="order-5 xl:order-3 font-medium text-16 leading-4 tracking-wide opacity-80 mb-5">
        Мы подскажем, где «подстелить солому», оградим от блокировок счетов и выездных проверок, научим быть незаметными для налоговой, как избежать вызовов «на ковёр» в налоговую и неприятных запросов, которые съедают ваше время и нервы.
      </p>
      <p class="order-6 xl:order-4 font-medium text-16 leading-4 tracking-wide opacity-80 xl:mb-6">
        Развивайте свой бизнес, а скучную бухгалтерию поручите нам.
      </p>
      <h4 class="order-1 xl:order-5 font-semibold text-gradient text-28 md:text-32 lg:text-36 leading-2 tracking-wide mb-2">Пшеничная Юлия</h4>
      <p class="order-2 xl:order-6 font-medium text-18 leading-2 tracking-wide mb-6 xl:mb-0">Директор компании</p>
    </div>
    <div class="order-1 xl:order-2 w-full md:max-w-[400px] xl:max-w-[550px]">
      <div class="pack pack-[95] bg-grey rounded-6">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/about.webp" type="image/webp">
          <img class="image" loading="lazy" src="img/pictures/about.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>

<!-- Отзывы -->

<section class="reviews container overflow-hidden">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">Отзывы наших клиентов</h2>
  <div class="reviews-slider relative">
    <div class="swiper swiper--overwrap">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="card h-full p-5 sm:p-8">
              <div class="flex flex-col sm:flex-row sm:items-center mb-4 sm:mb-6">
                <div class="pack pack-box bg-grey rounded-max border border-solid border-black border-opacity-20 min-w-[50px] w-[50px] sm:min-w-[70px] sm:w-[70px] mb-4 sm:mb-0 sm:mr-4">
                  <div class="loader">
                    <span class="loader-progress">
                      <svg class="loader-icon icon">
                        <use xlink:href="img/icons.svg#loader">
                      </svg>
                    </span>
                  </div>
                  <picture>
                    <source srcset="img/pictures/plug.webp" type="image/webp">
                    <img class="image" loading="lazy" src="img/pictures/plug.jpg" alt="">
                  </picture>
                </div>
                <div class="flex flex-col">
                  <span class="font-semibold text-gradient text-20 lg:text-24 leading-2 mb-1">Станислав Увайский</span>
                  <span class="font-normal text-14 lg:text-16 leading-2">Компания ООО «СмартНефть»</span>
                </div>
              </div>
              <div class="card-content">
                <p class="font-normal text-14 sm:text-16 leading-5">
                  Ответственность и доброжелательность сделали наше сотрудничество приятным, а профессионализм персонала — плодотворным и эффективным. Я сделал правильный выбор. Готов рекомендовать эту компанию, как надежного партнера.
                </p>
                <div class="mt-auto pt-5">
                  <button class="btn btn-second font-normal underline underline-offset-4" data-waved="light">Читать далее...</button>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination md:hidden text-primary mt-10"></div>
    <button class="swiper-button-prev btn btn-black btn-fade hidden md:flex" data-waved="light">
      <svg class="icon text-white text-20">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="swiper-button-next btn btn-black btn-fade hidden md:flex" data-waved="light">
      <svg class="icon text-white text-20">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Вопросы -->

<section class="questions container bg-black bg-opacity-5">
  <h2 class="font-bold text-center text-28 md:text-32 lg:text-36 leading-2 mb-5 md:mb-8">Часто задаваемые вопросы</h2>
  <div class="flex flex-col gap-5 md:gap-7 mb-7 md:mb-14">
    <% for (var i = 0; i < 6; i++) { %>
      <div class="questions__accordion card rounded-3 sm:rounded-6 py-6 px-4 md:py-7 md:px-7" data-accordion="hidden">
        <div class="flex items-center justify-between">
          <p class="font-semibold text-14 md:text-16 lg:text-18 leading-4 tracking-wide mr-3">Какие есть штрафы за оформление человека на работу задним числом?</p>
          <button class="questions__btn btn btn-second btn-fill gradient rounded-2 sm:rounded-3 min-w-[30px] w-[30px] h-[30px] sm:min-w-[40px] sm:w-[40px] sm:h-[40px]" data-accordion-toggle data-waved="light">
            <svg class="questions__arrow icon text-14 sm:text-16 duration-3">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </button>
        </div>
        <div data-accordion-content>
          <div class="pt-4">
            <p class="font-normal text-14 sm:text-16 leading-4 tracking-wide opacity-80">
              В 2023 году размер штрафа за за просрочку сдачи отчетности, либо представление неполных или недостоверных сведений о трудоустройстве физлиц составляет — 500 руб. в в отношении каждого застрахованного лица.<br>
              За непредставление персонифицированных сведений о физлицах в налоговую теперь штрафуют на 200 Р, независимо от количества людей в форме. Форма предоставляется ежемесячно, поэтому если пропущенная дата приема превышает более одного месяца, то штраф будет за каждый месяц.
            </p>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="relative bg-primary rounded-4 md:rounded-6 overflow-hidden">
    <div class="absolute inset-0">
      <picture>
        <source srcset="img/pictures/questions-bg.webp" type="image/webp">
        <img class="image mix-blend-overlay" src="img/pictures/questions-bg.png" alt="">
      </picture>
    </div>
    <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between gap-5 relative py-6 px-4 lg:py-4 lg:px-4">
      <div class="flex flex-col text-white w-full md:max-w-[450px] lg:max-w-[500px] lg:pl-12">
        <h2 class="font-medium text-28 md:text-32 lg:text-36 leading-2 mb-4">Готовы сотрудничать?</h2>
        <p class="font-normal text-16 md:text-18 leading-4 mb-6 md:mb-10">Оставьте заявку, а мы перезвоним <br> и проконсультируем вас бесплатно!</p>
        <div class="flex flex-col sm:flex-row sm:items-center gap-4 sm:gap-6">
          <button class="btn btn-primary btn-lg btn-light" data-waved="dark">Оставить заявку</button>
          <button class="btn btn-white btn-lg btn-contur" data-waved="dark">Получить консультацию</button>
        </div>
      </div>
      <div class="bg-white rounded-4 md:rounded-6 w-full md:max-w-[450px] lg:max-w-[350px] xl:max-w-[610px] p-5 lg:p-10">
        <h2 class="font-semibold text-28 md:text-32 lg:text-36 leading-2 mb-6 md:mb-9">Полезные ссылки <br class="sm:hidden"> на блоки</h2>
        <div class="flex flex-col items-start gap-4 sm:gap-8">
          <a class="btn btn-primary font-medium text-black" data-scroll="top" data-waved="dark" href="">
            Политика конфиденциальности
            <svg class="icon hidden sm:block text-18 ml-2">
              <use xlink:href="img/icons.svg#arrow-light">
            </svg>
          </a>
          <a class="btn btn-primary font-medium text-black" data-scroll="top" data-waved="dark" href="">
            Услуги
            <svg class="icon hidden sm:block text-18 ml-2">
              <use xlink:href="img/icons.svg#arrow-light">
            </svg>
          </a>
          <a class="btn btn-primary font-medium text-black" data-scroll="top" data-waved="dark" href="">
            Как начать работать с нами
            <svg class="icon hidden sm:block text-18 ml-2">
              <use xlink:href="img/icons.svg#arrow-light">
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./includes/footer.html').default)({data, social}) %>